/*START OF BASE STYLING*/
html {
    height: 100%;
}

body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chivo', sans-serif;
    background-color: hsla(224, 35%, 11%, 1);
}

figure, picture {
    margin: 0;
}
/*END OF BASE STYLING*/


/*START OF DESKTOP DESIGN*/
/*START OF MAIN ELEMENTS' POSITIONING*/
.site-access-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 1275px;
    height: 640px;
}

#podLogoBox {
    width: 135px;
    height: 56px;
    position: absolute;
    left: 165px;
    top: 102px;
}

#accessImgBox {
    width: 888px;
    height: 640px;
    position: relative;
    left: -336px;
    z-index: 0;
}

.outer-content-box {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    flex: 0 0 auto;
    width: 723px;
    height: 509px;
    z-index: 2;
    background-color: hsla(224, 35%, 11%, 1);
}

.dots-pattern-box {
    position: relative;
    z-index: 1;
}

#dotsPattern {
    position: absolute;
    right: 336px;
    bottom: -52px;
    width: 232px;
    height: 104px;
}
/*END OF MAIN ELEMENTS' POSITIONING*/


/*START OF INNER BOX STYLING*/
.inner-content-box {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 665px;
    height: 421px;
}

.green-text {
    color: hsla(157, 74%, 61%, 1);
}

#contentTitleBox, #accessInfoBox {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

#contentTitle, #accessInfo {
    width: 100%;
    height: 100%;
}

#contentTitleBox {
    width: 665px;
    height: 124px;
    margin-bottom: 19.2px;
}

#contentTitle {
    font-size: 3.25rem;
    font-weight: 100;
    line-height: 3.875rem;
    color: hsla(0, 0%, 100%, 1);
}

#accessInfoBox {
    width: 445px;
    height: 84px;
    margin-bottom: 40px;
}

#accessInfo {
    margin-top: 20px;
    font-size: 1.125rem;
    font-weight: 100;
    line-height: 1.75rem;
    color: hsla(224, 40%, 83%, 1);
}

#emailForm {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
}

.user-email, .user-email::placeholder {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.75rem;
    color: hsla(0, 0%, 100%, 1);
}

.user-email {
    width: 393px;
    height: 54px;
    padding-left: 32px;
    outline: none;
    border: none;
    border-radius: 28px;
    background-color: hsla(224, 26%, 23%, 1);
}

#accessBtn {
    position: absolute;
    top: 5px;
    left: 260px;
    width: 162px;
    height: 46px;
    font-size: 0.875rem; /*14px*/
    font-weight: 600;
    line-height: 1.75rem; /*28px*/
    border: none;
    border-radius: 1.75rem; /*28px*/
    cursor: pointer;
    color: hsla(224, 35%, 11%, 1);
    background-color: hsla(157, 74%, 61%, 1);
}

#accessBtn:hover {
    background-color: hsla(157, 100%, 85%, 1);
}

.valid-label {
    display: none;
    margin: 8px 0px 0px 32px;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 0.893rem;
    color: hsla(0, 96%, 61%, 1);
}

.brands-container {
    height: 29px;
    margin-top: 68.6px;
}

.brands {
    margin-left: 40px;
}

#spotiLogo {
    margin-left: 0;
}
/*END OF INNER BOX STYLING*/
/*END OF DESKTOP DESIGN*/


/*START OF TABLET DESIGN*/
@media screen and (max-width: 768px) {

    .site-access-container {
        justify-content: flex-start;
        align-items: flex-start;
        width: 768px;
        height: 1024px;
    }

    #podLogoBox {
        left: 39px;
        top: 50px;
    }

    #accessImgBox {
        width: 491px;
        height: 767px;
        left: -397px;
    }

    .outer-content-box {
        align-self: center;
        width: 635px;
        height: 509px;
        margin-left: 39px;
    }
    
    .inner-content-box {
        width: 635px;
        height: 416px;
    }

    #contentTitle {
        font-size: 3rem;
        line-height: 3.5rem;
    }

    .brands-container {
        margin-top: 64px;
    }

    #dotsPattern {
        right: 902px;
        bottom: -1024px;
    }
}
/*END OF TABLET DESIGN*/


/*START OF MOBILE DESIGN*/
@media screen and (max-width: 375px) {
    body {
        background: hsla(224, 35%, 11%, 1) url(image-host-s.jpg) top left/cover no-repeat content-box scroll;
        
    }

    .site-access-container {
        position: relative;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
        width: 375px;
        height: 667px;
        background-color: hsla(224, 35%, 11%, 0.92);
    }

    #podLogoBox {
        position: static;
        z-index: 5;
        margin-top: 15px;
    }

    .outer-content-box {
        width: 327px;
        height: 400px;
        margin: 0;
        background-color: transparent;
    }
    
    .inner-content-box {
        width: 100%;
        height: 100%;
    }

    #accessImgBox {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 375px;
        height: 667px;
    }

    #contentTitleBox, #accessInfoBox {
        text-align: center;
    }

    #contentTitleBox {
        width: 327px;
        height: 76px;
        margin: 0;
    }

    #contentTitle {
        font-size: 1.625rem;
        line-height: 2.375rem;
        margin: 0;
    }

    #accessInfoBox {
        width: 327px;
        height: 100px;
        margin: 16px 0 0 0;
    }

    #accessInfo {
        font-size: 0.938rem;
        line-height: 1.563rem;
        margin: 0;
    }

    .brands-container {
        align-self: center;
        order: 3;
        width: max-content;
        height: 17px;
        margin: 33px 0 0 0;
    }

    .brands {
        margin-left: 18px;
    }

    /*START OF BRANDS' SIZE*/
    #spotiLogo {
        width: 56px;
        height: 17px;
        margin-left: 0;
    }

    #apLogo {
        width: 45px;
        height: 17px;
    }

    #gpLogo {
        width: 73px;
        height: 11px;
    }

    #pcLogo {
        width: 77px;
        height: 15px;
    }
    /*END OF BRANDS' SIZE*/


    #emailForm {
        order: 4;
        margin-top: 48px;
    }
    
    .user-email {
        width: 293px;
        height: 46px;
    }
    
    .valid-label {
        order: 2;
    }

    #accessBtn {
        position: initial;
        order: 3;
        width: 327px;
        height: 46px;
        margin-top: 16px;
    }

}
/*END OF MOBILE DESIGN*/