/*START OF BASE STYLING*/
html {
    height: 100%;
}

body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chivo', sans-serif;
    background-color: hsla(224, 35%, 11%, 1);
}

figure {
    margin: 0;
}
/*END OF BASE STYLING*/


/*START OF MAIN ELEMENTS' POSITIONING*/
.site-access-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 1275px;
    height: 640px;
}

#podLogo {
    width: 135px;
    height: 56px;
    position: absolute;
    left: 165px;
    top: 102px;
}

#accessImgBox {
    width: 888px;
    height: 640px;
    position: relative;
    left: -336px;
    z-index: 0;
}

.outer-content-box {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    flex: 0 0 auto;
    width: 723px;
    height: 509px;
    z-index: 2;
    background-color: hsla(224, 35%, 11%, 1);
}

.dots-pattern-box {
    position: relative;
    z-index: 1;
}

#dotsPattern {
    position: absolute;
    right: 336px;
    bottom: -52px;
    width: 232px;
    height: 104px;
}
/*END OF MAIN ELEMENTS' POSITIONING*/


/*START OF INNER BOX STYLING*/
.inner-content-box {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 665px;
    height: 421px;
}

.green-text {
    color: hsla(157, 74%, 61%, 1);
}

#contentTitleBox, #accessInfoBox {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

#contentTitle, #accessInfo {
    width: 100%;
    height: 100%;
}

#contentTitleBox {
    width: 665px;
    height: 124px;
    margin-bottom: 19.2px;
}

#contentTitle {
    font-size: 52px;
    font-weight: 100;
    line-height: 62px;
    color: hsla(0, 0%, 100%, 1);
}

#accessInfoBox {
    width: 445px;
    height: 84px;
    margin-bottom: 40px;
}

#accessInfo {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 100;
    line-height: 28px;
    color: hsla(224, 40%, 83%, 1);
}

#emailForm {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
}

.user-email, .user-email::placeholder {
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
    color: hsla(0, 0%, 100%, 1);
}

.user-email {
    width: 393px;
    height: 54px;
    padding-left: 32px;
    outline: none;
    border: none;
    border-radius: 28px;
    background-color: hsla(224, 26%, 23%, 1);
}

#accessBtn {
    position: absolute;
    top: 5px;
    left: 260px;
    width: 162px;
    height: 46px;
    font-size: 0.875rem; /*14px*/
    font-weight: 600;
    line-height: 1.75rem; /*28px*/
    border: none;
    border-radius: 1.75rem; /*28px*/
    cursor: pointer;
    color: hsla(224, 35%, 11%, 1);
    background-color: hsla(157, 74%, 61%, 1);
}

#accessBtn:hover {
    background-color: hsla(157, 100%, 85%, 1);
}

.valid-label {
    display: none;
    margin: 8px 0px 0px 32px;
    font-size: 12px;
    font-weight: 600;
    line-height: 14.28px;
    color: hsla(0, 96%, 61%, 1);
}

.brands-container {
    height: 29px;
    margin-top: 68.6px;
}
/*END OF INNER BOX STYLING*/